.first{
    background-color: white;
    width: 1996px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    margin: 0p auto;


}
.navbar{
margin-top: 0px;
background-color:#0000ff;
width: 1995px;
height: 127px;
position: fixed;
}
.main{
 margin: 200px auto 40px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: static;

}


.main1, .main2{
    margin: auto 45px;
    background-color: rgba(255, 117, 76, 0.6);
   
    width: 795px;
    height: 443px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    
    
   
}
.a, .b{
    width:795px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;


}

   
.c1, .c2, .c3, .c4 , .c5 {
    margin-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
    background-color: #FF0000;
    width: 1677px;
    height: 127px;

   

}

.a1, .a2, .a3, .a4, .b1, .b2, .b3, .b4{
    width: 140px;
    height: 197.77px;
    background-color: #C4C4C4;
    border-radius: 14px;
    border: 4px solid white;
    position: static;
   
}
.text1, .text2{
    color: black;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}
h2{
    font-size: 36px;
}